<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header>
        <li style="position: relative; left: 100px;">Alguma Logo aqui</li>
            <ul>
                <li><a href=""><h1>Home</h1></a></li>
                <li><a href=""><h1>Sobre nós</h1></a></li>
                <li><a href=""><h1>Projetos</h1></a></li>
                <li><a href=""><h1>Portal</h1></a></li>
                <li><a href=""><h1>Cadastro</h1></a></li>
            </ul>
    </header>

    <section id="banner">
        <div class="container-esquerda-banner">
            <div class="container-textos">
                <h4>Escola <span style="color: orange;">Bílingue.</span>
                    <br>
                    Seu filho te agradecerá,
                    <br>
                    Em <span style="color: orange;">dois idiomas.</span>
                    <p>Descubra uma educação bilíngue conosco! Oferecemos uma experiência única onde os alunos aprendem em dois idiomas desde cedo. Junte-se a nós, e seu filho agradecerá, mas em dois idiomas!</p>
                </h4>
                
            </div>
            <div class="container-botoes">
                <button>Veja Agora</button>
                <button>Assista</button>
            </div>
        </div>
        <div class="container-direita-banner">
            <img src="img.png" alt="Crianças estudando">
        </div>
    </section>
    <section id="sobre-nos">

    </section>
</body>
</html>