<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pagina interna de professor</h1>



<h2>Listagem de alunos do curso Mobile</h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>curso</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="alunoMoba : ${alunosMoba}">
            <td th:text="${alunoMoba.nome}"></td>
            <td th:text="${alunoMoba.curso}"></td>
        </tr>
    </tbody>
</table>


<h2>Listagem de alunos do curso Back end</h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>curso</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="alunoBack : ${alunosBack}">
            <td th:text="${alunoBack.nome}"></td>
            <td th:text="${alunoBack.curso}"></td>
        </tr>
    </tbody>
</table>




</body>
</html>